<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9825230d-d5ac-4d95-9bd5-9d5133c859f5/resourceGroups/bus/providers/Microsoft.Web/sites/materialAPIGSG</ResourceId>
    <ResourceGroup>bus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://materialapigsg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>materialapigsg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>materialAPIGSG</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$materialAPIGSG</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>